%h1
  WELCOME TO HOME PAGE
.detail
  %p
    This is data uploading site, you can upload data in comma seperated file, we will parse the data, and save in relational database.
  %p
    You can also see the gross revenue. Please follow the header links.
